.title {
  text-align: center;
  color: red;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 70px 0 30px;
}

.title h2 {
  font-size: 32px;
  color: #000000;
  margin-top: 5px;
  text-transform: none;
}
